<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
    <add key="Artifactory" value="https://artifactory.nordstrom.com/artifactory/api/nuget/nuget" />
    <add key="ArtifactoryNuGetV3" value="https://artifactory.nordstrom.com/artifactory/api/nuget/v3/nuget" protocolVersion="3" />
    <add key="ArtifactoryTest" value="https://artifactorytest.nordstrom.com/artifactory/api/nuget/nuget" />
    <add key="ArtifactoryTestNuGetV3" value="https://artifactorytest.nordstrom.com/artifactory/api/nuget/v3/nuget" protocolVersion="3" />
  </packageSources>
  <activePackageSource>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </activePackageSource>
  <disabledPackageSources>
    <add key="Artifactory" value="true" />
    <add key="ArtifactoryNuGetV3" value="true" />
    <add key="ArtifactoryTest" value="true" />
    <add key="ArtifactoryTestNuGetV3" value="true" />
  </disabledPackageSources>
</configuration>